@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}
 
@property --angle{
  syntax: "<angle>";
  initial-value: 1deg;
  inherits: false;
}

body::after, body::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #1145ff, #8b9aff, #1c1d4f, #3457af, #1145ff);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 5px;
  animation: 4s spin linear infinite;
  margin: 0;
  padding: 0;
  background-color: #1c1d4f;
}

body::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

header {
  position: fixed;
  right: 0;
  top: 0;
  left: 165px;
  z-index: 100;
  height: 61px;
  box-shadow: 0px 5px 5px 5px rgb(0 0 0 /10%);
  background:#1c1d4f;
  transition: left 300ms;
}
   
.sidebar {
  position: fixed;
  height: 100%;
  width: 165px;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  background:#1c1d4f;
  transition: left 300ms;
   font-family: 'Lexend Deca', sans-serif;
}

.side-header {
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-header h3, .side-head span {
  color: #fff;
  font-weight: 400;
}

.side-content {
  height: calc(100vh - 60px);
  overflow: auto;
}

/* width */
.side-content::-webkit-scrollbar {
width: 5px;
}

/* Track */
.side-content::-webkit-scrollbar-track {
box-shadow:  0 0 5px #000000; 
border-radius: 10px;
}

/* Handle */
.side-content::-webkit-scrollbar-thumb {
background: #FFF; 
border-radius: 10px;
}

/* Handle on hover */
.side-content::-webkit-scrollbar-thumb:hover {
background: #00d9ff; 
}

.profile {
  text-align: center;
  padding: 2rem 0rem;
}
 
.change {
  width: 45px;
}

.change:hover{
  width:50px;
  transition: 0.4s;
  margin-right: 5px;
  margin-top: -2px;
}
 
.profile img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.profile h4 {
  color: #ffffff;
  font-weight: 500;
}

.side-menu ul {
  text-align: center;
}

.side-menu a {
  display: block;
  padding: 1.2rem 0rem;
}

.side-menu a.active {
  background:#7182f0;
}

.side-menu a:hover{
  background: #7182f0;
  transition: 0.4s;
  font-size: 20px;
}

.side-menu a.active span, .side-menu a.active small {
  color: #FFF;
}

.side-menu a span {
  display: block;
  text-align: center;
  font-size: 1.7rem;
}

.side-menu a span, .side-menu a small {
  color: #ffffff;
}

#menu-toggle:checked ~ .sidebar {
  width: 60px;
}

#menu-toggle:checked ~ .sidebar .side-header span {
  display: none;
}

#menu-toggle:checked ~ .main-content {
  margin-left: 60px;
  width: calc(100% - 60px);
}

#menu-toggle:checked ~ .main-content header {
  left: 60px;
}

#menu-toggle:checked ~ .sidebar .profile,
#menu-toggle:checked ~ .sidebar .side-menu a small {
  display: none;
}

#menu-toggle:checked ~ .sidebar .side-menu a span {
  font-size: 1.3rem;
}

section{
  text-align: center;
  color: #ffffff;
  align-items: center;
  margin-top: 38px;
}

.contact{
  color:#FFF;
}

.banner-main {
  text-align: center;
  align-items: center;
  position: absolute;
  top: 53%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  padding: 2rem 1.5rem;
  width:70%;
  box-shadow: 0px 0px 20px 5px #ffffff;
  backdrop-filter: blur(20px);
  background-color: #00000081;
}
 
.banner-img{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width:100%;
  text-shadow: 0px 0px 10px #00c2cb, 0px 0px 20px #fff;
}

footer {
  text-align: center;
  margin-top: 2rem;
}

footer>p{
  color:#FFF;
}

/* HORARIO*/

.horario {
  width: 40%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 53%;
  left: 35%;
  background-color: #1c1d4f;
  padding: 20px;
  border: 3px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.horario h1 {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
}

.horario h3 {
  font-size: 18px;
  font-weight: bold;
  color: #ccc;
  margin-bottom: 20px;
  text-align: center;
}

.horario table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.horario th, .horario td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.horario th {
  background-color: #8b9aff;
  font-weight: bold;
}

.horario td {
  background-color: #c5d5ff;
}

.horario tr:nth-child(even) {
  background-color: #f9f9f9;
}

.horario .hora {
  font-weight: bold;
  width: 20%;
}

.horario .actividad {
  width: 80%;
}

.horario2 {
  width: 40%;
  position: absolute;
  top: 25%;
  left: 58%;
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.horario2 h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.horario2 h3 {
  font-size: 18px;
  font-weight: bold;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
}

.horario2 table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.horario2 th, .horario td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.horario2 th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.horario2 td {
  background-color: #fff;
}

.horario2 tr:nth-child(even) {
  background-color: #f9f9f9;
}

.horario2 .hora {
  font-weight: bold;
  width: 20%;
}

.horario2 .actividad {
  width: 80%;
}
/**/
@media (min-width: 768px) {
  /* Estilos para pantallas de tabletas y desktop */
  .container {
    width: 80%;
    margin: 40px auto;
  }
}

@media (min-width: 1200px) {
  /* Estilos para pantallas de desktop grandes */
  .container {
    width: 60%;
    margin: 60px auto;
  }
}